{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Stack - BootCamp Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<nav class="bg-color-nav navbar-fixed-top navbar navbar-default">
        <div class="container-fluid">
            <div class="nav navbar-header">

            </div>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class='hvr-sink' href="{% url 'contact_list' %}">
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a class='hvr-sink' href="{% url 'register' %}">
                            <p>Register</p>
                        </a>
                    </li>
                    <li>
                        <a class='hvr-sink' href="">
                            <p>Contact</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


{% block content %}
{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>